name: Test
on: push
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm ci
      - name: TypeScript
        run: npm run typecheck
      - name: Prettier
        run: npm run prettier:check
